/**tobdong annual games  by Pu-Winnie Clearwater**/

body.login{
  background: url('../images/blur.jpg') no-repeat;
  background-attachment: fixed;
  background-size:cover;
}
.header{
  margin-top: 100px
}
.header h1{
  font-family: 'Fredoka One', cursive;
  font-size: 4em;
  color: white;
  display:block;
  margin: 40px 0 0 30px;
}
.header h4{
  font-family: 'Fredoka One', cursive;
  font-size: 1.4em;
  color: white;
  display:block;
  margin: 40px 0 0 30px;
}
.header img, .header h1{
  float: left;
}

.btn-login{
  margin: 100px auto 0 auto;
  width: 100%;
  text-align: center;
}

footer{
  margin: 100px auto 0 auto;
  color: #ddd;
  font-size: 1em;
  text-align: center;
}
.user-info{
  font-size: 1.8em;
  color: #333;
  float: left;
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0 20px;
  font-weight: 300;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.color-head{
    height: 80px;
    line-height: 80px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 800;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
}
.userimg{
  float: left;
  margin: 5px;
}
.userphoto{
  border-radius: 25px;
}
.userbadge{
  position: relative;
  left: 40px;
  top: 22px;
  background-color: #000;
  border-radius: 2px;
  font-size: 0.8em;
  color: #fff !important;
  width: 25px;
  height: 20px;
  padding: 3px;
}
.team-head{
  background-color: #ddd;
  width: 100%;
  height: 60px;
  border-radius: 4px;
}
.head-text{
  float:left;
  display:block;
  margin: 16px 5px;
  font-size: 2;

}
